<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="fileMovieFinder" class="org.basics.spring.moviefinder.MovieFinderService">
      <property name="movieLister" ref="fileMovieLister"/>
  </bean>

  <bean id="dbMovieFinder" class="org.basics.spring.moviefinder.MovieFinderService">
      <property name="movieLister" ref="dbMovieLister"/>
  </bean>

  <bean id="fileMovieLister" class="org.basics.spring.movielister.CsvFileMovieLister">
  </bean>

  <bean id="dbMovieLister" class="org.basics.spring.movielister.DbMovieLister">
  </bean>

  <!-- more bean definitions go here -->

</beans>